# Genera una secret key con:
# python -c "import secrets; print(secrets.token_urlsafe(50))"
SECRET_KEY=changeme
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=change_this_to_your_database_url

# Solo in produzione su Render (impostato automaticamente da Render):
# RENDER_EXTERNAL_HOSTNAME=fantaf1.onrender.com
# Numero di worker gunicorn:
# WEB_CONCURRENCY=2