# Genera una secret key con:
# python -c "import secrets; print(secrets.token_urlsafe(50))"
SECRET_KEY=changeme
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=DATABASE_URL=postgres://user:password@localhost:5432/dbname?sslmode=require