{% extends "fantaApp/base.html" %} {% block content %}
<h2>
  <!-- prettier-ignore -->
  {{ championship.name }} {{ championship.year }} — Round {{ weekend.round_number }} · {{ weekend.event_name }}
</h2>

<p>
  <!-- prettier-ignore -->
  Circuito: {{ weekend.circuit.name }} · {% if weekend.weekend_type == "sprint"%} Weekend Sprint {% else %} Weekend Regular {% endif %}
</p>

<hr />

<h3>Eventi disponibili</h3>

<p class="text-muted">Scegli un evento per selezionare i piloti.</p>

<ul>
  {% for ev in events %}
  <li>
    {% if ev.entity == "qualifying" and ev.subtype == "sprint" %}
    <a
      href="{% url 'sprint_qualifying_choice' championship.id weekend.id ev.event_id %}"
      >{{ ev.label }}</a
    >
    {% comment %} {% elif ev.entity == "qualifying" and ev.subtype == "regular"
    %}
    <a
      href="{% url 'regular_qualifying_choice' championship.id weekend.id ev.event_id %}"
      >{{ ev.label }}</a
    >
    {% elif ev.entity == "race" and ev.subtype == "sprint" %}
    <a
      href="{% url 'sprint_race_choice' championship.id weekend.id ev.event_id %}"
      >{{ ev.label }}</a
    >
    {% elif ev.entity == "race" and ev.subtype == "regular" %}
    <a
      href="{% url 'grand_prix_choice' championship.id weekend.id ev.event_id %}"
      >{{ ev.label }}</a
    >
    {% endcomment %} {% else %} {{ ev.label }} {% endif %}
  </li>
  {% empty %}
  <li>Nessun evento trovato.</li>
  {% endfor %}
</ul>



{% endblock %}
